<head>
    <title>Задание SkillBox C# 19</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script.js"></script>
</head>

@RenderBody()

<div>
    <a href="/Account/Register">Регистрация</a>
    <a href="/Account/Login">Логин</a>
    <a href="/Account/Logout">Логаут</a>
</div>