<head>
    <title>Задание SkillBox C# 19</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script.js"></script>
</head>

@RenderBody()
